<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {%block title%}

            Home Page


            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <nav>

            <a href = "{{url_for('index')}}">Home Page</a>
            <a href = "{{url_for('add')}} ">Add Page</a>
            <a href = "{{url_for('search')}} ">Search Page</a>
            <a href = "{{url_for('display')}} ">Display Page</a>
           

        </nav>

        {% block content%}


        {% endblock%}
        
        
        <script src="" async defer></script>
    </body>
</html>