<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <title> About us page </title>
    <body>
        
        <h1> This is About us page </h1>
        <h2> Available vegetables: </h2>

        
        {% for sabji in input %}
           {% if input[sabji] >=50 %}
               <li> {{sabji}}- chala cost ekkuva </li>
           {%else%}
                <li> {{sabji}} - 2 kg ivvu </li>
           {% endif %}
        {% endfor %}

        
        <script src="" async defer></script>
    </body>
</html>