<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomePage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1> Welcome to HomePage</h1>
        <form action = "{{ url_for('fun_2') }}" method= "post">
            <label>Name:  </label> 
            <input type= "text" name="in_1"><br/> <br/>
            <label>Age:  </label> 
            <input type= "text" name="in_2"><br/> <br/>
            <label>Password:  </label> 
            <input type= "password" name="in_3"><br/> <br/>
            
            <button> Register </button>
           
        </form>

        
        
        <script src="" async defer></script>
    </body>
</html>